@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.navbar {
  background-color: #000000 !important; }
  .navbar .container-fluid {
    display: flex !important;
    justify-content: flex-end !important; }
    .navbar .container-fluid #navbarNavAltMarkup {
      justify-content: flex-end !important; }
      .navbar .container-fluid #navbarNavAltMarkup .navbar-nav .nav-link {
        display: flex !important;
        justify-content: flex-end !important; }

.navbar-toggler {
  background-color: white !important; }

main {
  background-color: #222831;
  padding-top: 10px;
  padding-bottom: 10px; }

span {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic; }

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0; }

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: #222831;
  text-align: center;
  background-color: white;
  padding: 10px;
  border-radius: 20px; }

h3 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 25px;
  text-align: center;
  margin: 10px; }

.miembros .carruselMiembros {
  width: 40% !important; }

.carruselTour {
  width: 40% !important;
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 10px; }

.carruselVorterix {
  width: 60% !important;
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 10px; }

.carruselLolla {
  width: 50% !important;
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 10px; }

.enVivo .contenedorVideosCortos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 400px); }

header {
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px; }
  header a {
    text-decoration: none; }
  header h1 {
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #F3F8FF;
    transition: color 1s !important; }
    header h1:hover {
      color: orangered !important; }
  header nav a {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px !important;
    color: white !important;
    text-decoration: none;
    transition: color 1s !important; }
    header nav a:hover {
      color: orangered !important; }

main section ul li {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: white; }

.portada div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .portada div img {
    width: 95%;
    height: 95%;
    border-radius: 10px; }
  .portada div iframe {
    margin: 10px;
    border-radius: 10px; }
  .portada div h2 {
    margin: 10px; }

.sobreLaBanda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px; }
  .sobreLaBanda h2 {
    width: 100%; }

.miembros {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px; }
  .miembros h2 {
    width: 100%; }
  .miembros ul {
    list-style: none; }

.cancionesRecomendadas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px; }
  .cancionesRecomendadas h2 {
    width: 100%; }

.singles .singlesDivs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }
  .singles .singlesDivs img {
    width: 400px;
    height: 400px; }

.albumesDivs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }
  .albumesDivs a {
    text-decoration: none; }
  .albumesDivs img {
    width: 400px;
    height: 400px; }
  .albumesDivs h3 {
    transition: color 0.5s; }
    .albumesDivs h3:hover {
      color: green; }

#xtracklist h2,
#girlfriendtracklist h2,
#summermixtapetracklist h2 {
  padding-left: 10px;
  padding-right: 10px; }

main section ol li {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: white;
  padding-left: 10px;
  padding-right: 10px; }

.resenas div {
  padding: 10px;
  margin: 15px;
  border: #F3F8FF 5px solid;
  border-radius: 20px;
  background-color: white; }
  .resenas div h3 {
    color: #222831;
    font-style: italic; }
  .resenas div p {
    color: #222831; }
    .resenas div p a {
      text-decoration: none;
      font-style: italic;
      background-color: white;
      border-radius: 5px;
      padding: 3px;
      transition: 1s !important; }
      .resenas div p a:hover {
        color: #003874 !important; }

.contenedorVideos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 400px); }
  .contenedorVideos .titulosVideos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }

.contenedorTweet .twitter-tweet {
  margin: 0 auto; }

.girlfriendTour div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 15px; }

.girlfriendTour img {
  width: 70%; }

.enVivo {
  margin-top: 10px; }
  .enVivo .contenedorVideosCortos .videosCortosVivo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
  .enVivo .conciertosCompletos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px; }
    .enVivo .conciertosCompletos .conciertosCompletosVideos {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap; }

.contenedorNewsletter {
  height: 100%; }
  .contenedorNewsletter .newsletter {
    display: flex;
    justify-content: center;
    align-items: center; }
    .contenedorNewsletter .newsletter form {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-around;
      align-items: normal; }
      .contenedorNewsletter .newsletter form div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5px; }
        .contenedorNewsletter .newsletter form div label {
          font-family: "Roboto", sans-serif;
          font-weight: 400;
          font-size: 20px;
          color: white;
          margin-right: 5px;
          margin-left: 5px; }
        .contenedorNewsletter .newsletter form div input {
          margin-left: 5px;
          margin-right: 5px; }

footer {
  background-color: #000000;
  text-align: center; }
  footer div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 40%; }
    footer div a {
      font-size: 40px;
      color: white;
      transition: color 0.5s; }
      footer div a:hover {
        color: green; }
  footer p {
    margin: 0;
    padding-bottom: 10px;
    color: white;
    font-style: italic; }

@media screen and (max-width: 1080px) {
  header a h1 {
    font-size: 40px; } }

@media screen and (max-width: 1075px) {
  .contenedorVideos {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 400px); }
  .enVivo .contenedorVideosCortos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 400px); }
  .enVivo .conciertosCompletos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 400px; } }

@media screen and (max-width: 1004px) {
  header nav a {
    font-size: 15px !important; } }

@media screen and (max-width: 960px) {
  section .carruselVorterix {
    width: 70% !important; } }

@media screen and (max-width: 825px) {
  .miembros .carruselMiembros {
    width: 60% !important; } }

@media screen and (max-width: 835px) {
  .girlfriendTour div img {
    width: 80%; } }

@media screen and (max-width: 785px) {
  .liveOnTour2024 .carruselTour {
    width: 60% !important; }
  section .carruselTour {
    width: 60% !important; } }

@media screen and (max-width: 650px) {
  section .carruselVorterix {
    width: 80% !important; } }

@media screen and (max-width: 610px) {
  .portada div img {
    width: 90%;
    height: 80%; }
  .portada div iframe {
    width: 90%; }
  p {
    font-size: 15px; }
  h2 {
    font-size: 20px; }
  h3 {
    font-size: 20px; }
  .miembros {
    font-size: 15px; }
    .miembros ol li {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 15px;
      color: white; }
  footer div {
    width: 40%; } }

@media screen and (max-width: 605px) {
  .contenedorVideos .titulosVideos iframe {
    width: 80%; } }

@media screen and (max-width: 591px) {
  .enVivo .contenedorVideosCortos .videosCortosVivo iframe {
    width: 80%; }
  .enVivo .conciertosCompletos .conciertosCompletosVideos iframe {
    width: 80%; } }

@media screen and (max-width: 583px) {
  .girlfriendTour div img {
    width: 80%;
    height: 100%; } }

@media screen and (max-width: 573px) {
  .contenedorTweet .twitter-tweet {
    width: 70% !important; } }

@media screen and (max-width: 557px) {
  header a h1 {
    font-size: 30px; } }

@media screen and (max-width: 548px) {
  header nav a {
    font-size: 15px !important; } }

@media screen and (max-width: 513px) {
  section .carruselVorterix {
    width: 90% !important; } }

@media screen and (max-width: 510px) {
  header a h1 {
    font-size: 30px; } }

@media screen and (max-width: 493px) {
  .liveOnTour2024 .carruselTour {
    width: 80% !important; }
  section .carruselTour {
    width: 80% !important; } }

@media screen and (max-width: 486px) {
  header a h1 {
    font-size: 25px; } }

@media screen and (max-width: 485px) {
  footer div {
    width: 60%; } }

@media screen and (max-width: 449px) {
  header h1 {
    font-size: 22px; } }

@media screen and (max-width: 443px) {
  .miembros .carruselMiembros {
    width: 80% !important; } }

@media screen and (max-width: 438px) {
  header a h1 {
    font-size: 25px; } }

@media screen and (max-width: 430px) {
  .singles .singlesDivs div img {
    width: 300px;
    height: 300px; }
  .albumes .albumesDivs div img {
    width: 300px;
    height: 300px; } }

@media screen and (max-width: 389px) {
  h3 {
    font-size: 15px; } }

@media screen and (max-width: 381px) {
  .contenedorTweet {
    width: 50% !important; } }
