@use '../base/generales' as gen;
@use 'sass:list';

footer {
    background-color: list.nth(gen.$colores, 1);
    text-align: center;
    padding: 20px 0;

    div {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin: 0 auto;

        a {
            font-size: 28px;
            width: 55px;
            height: 55px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: list.nth(gen.$colores, 7);
            transition: all 0.4s ease-in-out;

            &:hover {
                background-color: list.nth(gen.$colores, 4);
            }


            &.instagram {
                color: list.nth(gen.$colores, 8);
            }
            &.twitter {
                color: list.nth(gen.$colores, 2);

                &:hover {
                    color: list.nth(gen.$colores, 7);
                }
            }
            &.youtube {
                color: list.nth(gen.$colores, 9);
            }
            &.spotify {
                color: list.nth(gen.$colores, 10);
            }
        }
    }

    p {
        margin: 10px 0 0;
        color: list.nth(gen.$colores, 2);
        font-style: italic;
    }
}
