footer {
    background-color: nth($colores, 1);
    text-align: center;

    div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
        width: 40%;

        a {
            font-size: 40px;
            color: nth($colores, 2);
            transition: color 0.5s;
            &:hover {
                color: $color-alternativo;
            }
        }
    }

    p {
        margin: 0;
        padding-bottom: 10px;
        color: nth($colores, 2);
        font-style: italic;
    }
}