@use '../base/generales' as gen;
@use 'sass:list';

header {
    background-color: list.nth(gen.$colores, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

    a {
        text-decoration: none;
    }

    img {
        width: 110px;
        height: auto;
    }

    nav {
        a {
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 20px !important;
            color: list.nth(gen.$colores, 2) !important;
            text-decoration: none;
            transition: color 1s !important;

            &:hover {
                color: orangered !important;
            }

            &.active {
                font-weight: bold;
                color: orangered !important;
                border-bottom: 2px solid orangered;
            } 
        }
    }
}
