//! MAIN - INDEX !//

main {
    section {
        ul {
            li {
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-size: 20px;
                color: nth($colores, 2);
            }
        }
    }
}

.portada {
    div {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 95%;
            height: 95%;
            border-radius: 10px;
        }

        iframe {
            margin: 10px;
            border-radius: 10px;
        }

        h2 {
            margin: 10px;
        }
    }
}

.sobreLaBanda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;

    h2 {
        width: 100%;
    }
}

.miembros {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    color: nth($colores, 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;

    h2 {
        width: 100%;
    }

    ul {
        list-style: none;
    }
}

.cancionesRecomendadas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

    h2 {
        width: 100%;
    }
}

//! MAIN - MUSICA !//

.singles {
    .singlesDivs {
        @include flex (flex, space-around, center, wrap);

        div {
            background-color: nth($colores, 1);
            margin-bottom: 10px;
            padding: 10px;

            img {
                width: 400px;
                height: 400px;
            }
        }
    }
}


.albumesDivs {
    @include flex (flex, space-around, center, wrap);

    div {
        background-color: nth($colores, 1);
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;

        a {
            text-decoration: none;
        }

        img {
            width: 400px;
            height: 400px;
        }

        h3 {
            transition: color 0.5s;

            &:hover {
                color: $color-alternativo;
            }
        }
    }


}

#xtracklist,
#girlfriendtracklist,
#summermixtapetracklist {
    h2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    ol {
        margin: 20px;
    }
}

main {
    section {
        ol {
            li {
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-size: 20px;
                color: nth($colores, 2);
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}

.resenas {
    div {
        padding: 10px;
        margin: 15px;
        border: nth($colores, 4) 5px solid;
        border-radius: 20px;
        background-color: nth($colores, 2);

        h3 {
            color: nth($colores, 3);
            font-style: italic;
        }

        p {
            color: nth($colores, 3);

            a {
                text-decoration: none;
                font-style: italic;
                background-color: nth($colores, 2);
                border-radius: 5px;
                padding: 3px;
                transition: 1s !important;

                &:hover {
                    color: #003874 !important;
                }
            }
        }
    }
}

//! MAIN - VIDEOS !//

.contenedorVideos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 400px);

    .titulosVideos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

//! MAIN - TOUR !//

.contenedorTweet {
    .twitter-tweet {
        margin: 0 auto;
    }
}

.girlfriendTour {
    div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    img {
        width: 70%;
    }
}

//! MAIN - LIVE PERFORMANCES !//

.enVivo {
    margin-top: 10px;

    .contenedorVideosCortos {
        @extend %grid-videos;

        .videosCortosVivo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
    }

    .conciertosCompletos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 400px;

        .conciertosCompletosVideos {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
    }
}

//! MAIN - CONTACTO !//

.contenedorNewsletter {

    height: 100%;

    .newsletter {
        display: flex;
        justify-content: center;
        align-items: center;

        form {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-around;
            align-items: normal;

            div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 5px;

                label {
                    font-family: "Roboto", sans-serif;
                    font-weight: 400;
                    font-size: 20px;
                    color: white;
                    margin-right: 5px;
                    margin-left: 5px;
                }

                input {
                    margin-left: 5px;
                    margin-right: 5px;
                }
            }
        }
    }
}