@media screen and (max-width:1075px) {
    .contenedorVideos {
        grid-template-columns: 1fr;
    }

    .enVivo {
        .contenedorVideosCortos {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(6, 400px);
        }

        .conciertosCompletos {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 400px;
        }
    }
}

@media screen and (max-width:835px) {
    .girlfriendTour {
        div {
            img {
                width: 80%;
            }
        }
    }
}

@media screen and (max-width:670px) {
    .ultimoLanzamiento {
        .ultimoLanzamientoContenedor {
            div {
                img {
                    width: 400px;
                    height: 400px;
                }
            }
        }
    }
}

@media screen and (max-width:650px) {
    footer {
        div {
            width: 80%;
        }
    }
}

@media screen and (max-width: 610px) {
    .portada {
        div {
            img {
                width: 90%;
                height: 80%;
            }

            iframe {
                width: 90%;
            }
        }
    }

    p {
        font-size: 15px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 20px;
    }

    .miembros {
        font-size: 15px;
    }

    footer {
        div {
            width: 80%;
        }
    }
}

@media screen and (max-width: 605px) {
    .contenedorVideos {
        .titulosVideos {
            iframe {
                width: 90%;
            }
        }
    }
}

@media screen and (max-width:591px) {
    .enVivo {
        .contenedorVideosCortos {
            .videosCortosVivo {
                iframe {
                    width: 80%;
                }
            }
        }

        .conciertosCompletos {
            .conciertosCompletosVideos {
                iframe {
                    width: 80%;
                }
            }
        }
    }
}

@media screen and (max-width:583px) {
    .girlfriendTour {
        div {
            img {
                width: 80%;
                height: 100%;
            }
        }
    }
}

@media screen and (max-width:573px) {
    .contenedorTweet {
        .twitter-tweet {
            width: 70% !important;
        }
    }
}

@media screen and (max-width:500px) {
    .carousel-caption {
        display: none;
    }
}

@media screen and (max-width:485px) {
    footer {
        div {
            width: 80%;
        }
    }
}

@media screen and (max-width:470px) {
    .ultimoLanzamiento {
        .ultimoLanzamientoContenedor {
            div {
                img {
                    width: 350px;
                    height: 350px;
                }
            }
        }
    }
}

@media screen and (max-width:430px) {
    .singles {
        .singlesDivs {
            div {
                img {
                    width: 300px;
                    height: 300px;
                }
            }
        }
    }

    .albumes {
        .albumesDivs {
            div {
                img {
                    width: 300px;
                    height: 300px;
                }
            }
        }
    }
}

@media screen and (max-width:410px) {
    .ultimoLanzamiento {
        .ultimoLanzamientoContenedor {
            div {
                img {
                    width: 300px;
                    height: 300px;
                }
            }
        }
    }
}

@media screen and (max-width:389px) {
    h3 {
        font-size: 15px;
    }
}

@media screen and (max-width:381px) {
    .contenedorTweet {
        width: 50% !important;
    }
}